html {
	background-color: rgb(70, 92, 119);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

body {
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Open Sans Condensed', 'Comic Sans MS', sans-serif;
	font-weight: 100;
	font-size: 3em;
	color: rgba(240, 240, 240, 0.9);
}

p {
	font-family: 'Open Sans Condensed', 'Comic Sans MS', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: rgba(240, 240, 240, 0.9);
}

li {
	font-family: 'Open Sans Condensed', 'Comic Sans MS', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: rgba(240, 240, 240, 0.9);
	list-style: none;
	margin: 30px;
	display: inline;
}

a {
	color: rgba(240, 240, 240, 0.9);
	text-decoration: none;
}

a:hover {
	color: grey;
	transition: 0.2s;
}

hr {
	color: rgba(240, 240, 240, 0.9);
}

#title {
  	position: absolute;
	float: left;
	left: 15%;
	transform: translateY(-150%);
}

#menu {
	position: absolute;
	float: right;
	right: 15%;
}

#content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
@media screen and (max-width: 1024px) {
	body {
	    background-size: 100% auto;
	}

	h1, h2, h3 {

	}

	p, a {
	}

	#title {
		position: absolute;
		float: center;
		transform: translateX(50%, -150%);
	}
}
*/